<div>
    <!-- <table class="table table-bordered" *ngFor="let i of idea"> -->
        <tr>
            <td><label>Task Id</label></td>
            <!-- <td>{{i.ideaId}}</td> -->
            <!-- <input formControlName="ideaId" id="ideaId" type="text" [(ngModel)]="i.ideaId" class="form-control"> -->
        </tr>
        <tr>
            <td><label>Task Title</label></td>
            <!-- <td>{{i.ideaTitle}}</td> -->
        </tr>
        <tr>
            <td><label>Task Description </label></td>
            <!-- <td>{{i.ideaDescription}}</td> -->
        </tr>
        <tr>
            <td><label>Tags</label></td>
            <!-- <td>{{i.tags}}</td> -->
        </tr>
        <tr>
            <td><label>Submitted</label></td>
            <!-- <td>{{i.submittedDate}}</td> -->
        </tr>
        <tr>
            <td><label>Emp Id</label></td>
            <!-- <td>{{i.empId}}</td> -->
        </tr>
        <tr>
            <td><label>Likes</label></td>
            <!-- <td>{{i.likes}}</td> -->
        </tr>
        <tr>
            <td style="display: none;"><input type="text" name="status" id="status" value="Approved"></td>
            <!-- <td>{{i.ideaStatus}}</td> -->
        </tr>
        <tr>
            <td><button>Approved</button></td>
            <td><button>Reject</button></td>
        </tr>
    <!-- </table> -->
</div>