.viewIdea{
    margin: 0%;
    padding: 0%;
    font-family: montserrat;
    background: linear-gradient(120deg,#22B9A9 , #0E897C);
    height: 150vh;
    overflow: hidden;
}
.viewTable{
    width: 30%;
    height: 45%;
    margin-top: 10%;
    margin-left: 425px;
    background: white;
    border-radius: 15px;
} 

.label-title{
    font-weight: bold ;
}
form .text_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
  }
  .text_field input{
    width: 100%;
    padding: 0;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }