<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Idea Box!!</title>
    <link rel="stylesheet" href="welcome-page.component.css">
</head>
<body>
<div class="centre">
  <h1>“Everything you can imagine is real.”</h1>
  <h1>Welcome to Idea Box!!</h1>
</div>

<div class="button">  <button type="button1"   (click)="AdminLogin()">
  Login as Admin
</button><br><br>
<button type="button2" (click)="UserLogin()">
  Login as User
</button>
</div>
</body>
</html> 
